<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nodejs SMS App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h2>Send SMS Message</h2>
      <input type="tel" name="number" id="number" />
      <input type="text" name="msg" id="msg" />
      <input
        type="button"
        id="button"
        value="Send"
        class="button button-primary"
      />
      <p class="response"></p>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
